 body {background-color: #7dffff;}
 .row {width: 100%; height: 100%;}
 #content-wrapper {width: 80%; margin: auto;}
 #left-box {float: left; background-color: #80fd8f; width: 60%; height: 250px; margin: 0px 60px;}
 #right-box {float: left; background-color: #ff3399; width: 20%; height: 250px;}